{% extends 'base.html' %} 

{% block content %}

<style>
    @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');
    body {
        font-family: 'Poppins', sans-serif;
        background-color: #f0f8ff; /* Baby Blue / Soft Blue */
        text-align: center;
        margin: 0;
        padding: 20px; /* Added padding */
    }
    h1, h5, p {
        font-family: 'Poppins', sans-serif; /* Change font to Poppins */
        color: #000080; /* Dark Blue */
        margin: 10px 0; /* Adjusted margin */
    }
    table {
        width: 70%; /* Adjusted width */
        margin: 20px auto; /* Adjusted margin */
        border-collapse: separate;
        border-spacing: 0;
        overflow: hidden; /* Hide overflowing borders */
    }
    th, td {
        border: 2px solid #ccc; /* Light gray border */
        padding: 10px;
        text-align: center;
    }
    th {
        background-color: #f5f5f5; /* Light gray */
        color: #000080; /* Dark Blue */
    }
    td {
        background-color: #fff; /* Broken white background */
    }
    input[type="text"] {
        width: 100%; /* Set the width to 100% for the text input fields */
        box-sizing: border-box; /* Include padding and border in the width */
        font-family: 'Verdana', sans-serif; /* Change the font to Verdana */
        font-size: 14px; /* Adjust the font size */
    }
    input[name="amount"], input[name="price"] {
        width: 100%; /* Adjusted width for amount and price */
        font-family: 'Verdana', sans-serif; /* Change the font to Verdana */
        font-size: 14px; /* Adjust the font size */
    }
    input[name="category"], input[name="description"] {
        font-family: 'Verdana', sans-serif;
        font-size: 14px;
    }
    a {
        text-decoration: none;
        color: #000080; /* Dark Blue */
    }
    button {
        background-color: #000080; /* Dark Blue */
        color: white;
        border: none;
        padding: 10px 20px;
        cursor: pointer;
        border-radius: 5px; /* Rounded corners */
        font-size: 14px; /* Font size adjustment */
        margin-top: 10px; /* Margin adjustment */
    }
    button:hover {
        background-color: #004d40; /* Darker Soft Blue on hover */
    }
</style>

<h1>Add New Item</h1>

<form method="POST">
    {% csrf_token %}
    <table>
        {{ form.as_table }}
    </table>
    <button type="submit">Edit Item</button>
</form>

{% endblock %}
